In [19]:
#pip install yfinance

Collecting pandas_datareader
  Downloading pandas_datareader-0.10.0-py3-none-any.whl (109 kB)
     -------------------------------------- 109.5/109.5 kB 6.2 MB/s eta 0:00:00
Requirement already satisfied: requests>=2.19.0 in c:\users\dinos\anaconda3\lib\site-packages (from pandas_datareader) (2.28.1)
Requirement already satisfied: lxml in c:\users\dinos\anaconda3\lib\site-packages (from pandas_datareader) (4.9.1)
Requirement already satisfied: pandas>=0.23 in c:\users\dinos\anaconda3\lib\site-packages (from pandas_datareader) (1.4.4)
Requirement already satisfied: numpy>=1.18.5 in c:\users\dinos\anaconda3\lib\site-packages (from pandas>=0.23->pandas_datareader) (1.21.5)
Requirement already satisfied: python-dateutil>=2.8.1 in c:\users\dinos\anaconda3\lib\site-packages (from pandas>=0.23->pandas_datareader) (2.8.2)
Requirement already satisfied: pytz>=2020.1 in c:\users\dinos\anaconda3\lib\site-packages (from pandas>=0.23->pandas_datareader) (2023.3)
Requirement already satisfied: charset-normalizer<3,>=2 in c:\users\dinos\anaconda3\lib\site-packages (from requests>=2.19.0->pandas_datareader) (2.0.4)
Requirement already satisfied: idna<4,>=2.5 in c:\users\dinos\anaconda3\lib\site-packages (from requests>=2.19.0->pandas_datareader) (3.3)
Requirement already satisfied: certifi>=2017.4.17 in c:\users\dinos\anaconda3\lib\site-packages (from requests>=2.19.0->pandas_datareader) (2022.9.14)
Requirement already satisfied: urllib3<1.27,>=1.21.1 in c:\users\dinos\anaconda3\lib\site-packages (from requests>=2.19.0->pandas_datareader) (1.26.11)
Requirement already satisfied: six>=1.5 in c:\users\dinos\anaconda3\lib\site-packages (from python-dateutil>=2.8.1->pandas>=0.23->pandas_datareader) (1.16.0)
Installing collected packages: pandas_datareader
Successfully installed pandas_datareader-0.10.0
Note: you may need to restart the kernel to use updated packages.

In [1]:
import yfinance as yf
import requests
from bs4 import BeautifulSoup
import pandas as pd
import numpy as np
from datetime import datetime
import pandas_datareader as reader

In [2]:
data = "constituents_csv.csv"
stock=pd.read_csv(data)
len(stock)

505

In [3]:
stock['Symbol']

0       MMM
1       AOS
2       ABT
3      ABBV
4      ABMD
       ...
500     YUM
501    ZBRA
502     ZBH
503    ZION
504     ZTS
Name: Symbol, Length: 505, dtype: object

In [4]:
stock1 = stock[0:1000]
stock1
stock_symbol1 = stock1["Symbol"]
symbol1 = stock_symbol1.tolist()

test_symbol = ['A','AA','AAC','AACG','AACI','AACIU','AACIW','AADI','AAIC','AAIC^B','AAIC^C','AAIN']
test_symbol1=['BOOT','A']

In [5]:
def stock_info(symbol):
    try:
        ticker = yf.Ticker(symbol)
    except AttributeError:
        return(pd.DataFrame(columns=['Date','Open','High','Low','Close','Volume','Dividends','Stock Splits','Symbol']))
    # Set the start and end dates for data retrieval
    start_date = datetime(2012, 1, 1)
    end_date = datetime(2016, 12, 31)
    historical_data = ticker.history(start=start_date, end=end_date, interval='1d')
    historical_data['Symbol']=symbol
    return(historical_data)

In [85]:
ticker = yf.Ticker('ZIVOW')

    # Set the start and end dates for data retrieval
start_date = datetime(2012, 1, 1)
end_date = datetime(2016, 12, 31)
ticker.history(start=start, end=end_date, interval='1d')

ERROR ZIVOW: Period '1mo' is invalid, must be one of ['1d', '5d']

Empty DataFrame
Columns: [Open, High, Low, Close, Adj Close, Volume]
Index: []

In [6]:
data=pd.concat([stock_info(stock) for stock in stock['Symbol']])

ERROR ANTM: No timezone found, symbol may be delisted
ERROR BLL: No timezone found, symbol may be delisted
ERROR BRK.B: No timezone found, symbol may be delisted
ERROR BF.B: No price data found, symbol may be delisted (1d 2012-01-01 00:00:00 -> 2016-12-31 00:00:00)
ERROR CARR: Data doesn't exist for startDate = 1325394000, endDate = 1483160400
ERROR CDAY: Data doesn't exist for startDate = 1325394000, endDate = 1483160400
ERROR CERN: No timezone found, symbol may be delisted
ERROR CTXS: No timezone found, symbol may be delisted
ERROR CTVA: Data doesn't exist for startDate = 1325394000, endDate = 1483160400
ERROR DISCA: No timezone found, symbol may be delisted
ERROR DISCK: No timezone found, symbol may be delisted
ERROR DOW: Data doesn't exist for startDate = 1325394000, endDate = 1483160400
ERROR DRE: No timezone found, symbol may be delisted
ERROR FB: No timezone found, symbol may be delisted
ERROR FRC: Data doesn't exist for startDate = 1325394000, endDate = 1483160400
ERROR FISV: Data doesn't exist for startDate = 1325394000, endDate = 1483160400
ERROR FBHS: No timezone found, symbol may be delisted
ERROR FOXA: Data doesn't exist for startDate = 1325394000, endDate = 1483160400
ERROR FOX: Data doesn't exist for startDate = 1325394000, endDate = 1483160400
ERROR INFO: No timezone found, symbol may be delisted
ERROR IR: Data doesn't exist for startDate = 1325394000, endDate = 1483160400
ERROR KSU: No timezone found, symbol may be delisted
ERROR MRNA: Data doesn't exist for startDate = 1325394000, endDate = 1483160400
ERROR NLSN: No timezone found, symbol may be delisted
ERROR NLOK: No timezone found, symbol may be delisted
ERROR OGN: Data doesn't exist for startDate = 1325394000, endDate = 1483160400
ERROR OTIS: Data doesn't exist for startDate = 1325394000, endDate = 1483160400
ERROR PBCT: No timezone found, symbol may be delisted
ERROR SIVB: No timezone found, symbol may be delisted
ERROR TWTR: No timezone found, symbol may be delisted
ERROR VIAC: No timezone found, symbol may be delisted
ERROR WLTW: No timezone found, symbol may be delisted
ERROR XLNX: No timezone found, symbol may be delisted

In [11]:
data.to_csv('stock_data.csv')

In [9]:
len(set(data['Symbol']))

472

In [67]:
df = pd.DataFrame()

for i in test_symbol1:
    ticker = yf.Ticker(i)

    # Set the start and end dates for data retrieval
    start_date = datetime(2012, 1, 1)
    end_date = datetime(2016, 12, 31)

    historical_data = ticker.history(start=start_date, end=end_date, interval='1d')

    if historical_data.empty:
        continue

    historical_data['Symbol']=i
    df = df.append(historical_data)
    
df = df.reset_index()
df

#df.to_csv('/Users/hp/SAD_Finance/stock_1.csv',index=False)

C:\Users\dinos\AppData\Local\Temp\ipykernel_14640\798445270.py:16: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  df = df.append(historical_data)
C:\Users\dinos\AppData\Local\Temp\ipykernel_14640\798445270.py:16: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  df = df.append(historical_data)

,Date,Open,High,Low,Close,Volume,Dividends,Stock Splits,Symbol
0,2014-10-30 00:00:00-04:00,19.000000,19.500000,16.879999,17.450001,6884200,0.000,0.0,BOOT
1,2014-10-31 00:00:00-04:00,17.790001,18.139999,17.660000,17.750000,429100,0.000,0.0,BOOT
2,2014-11-03 00:00:00-05:00,17.559999,17.700001,17.500000,17.559999,112000,0.000,0.0,BOOT
3,2014-11-04 00:00:00-05:00,17.750000,17.750000,17.090000,17.379999,187700,0.000,0.0,BOOT
4,2014-11-05 00:00:00-05:00,17.139999,17.570000,16.910000,17.040001,361400,0.000,0.0,BOOT
...,...,...,...,...,...,...,...,...,...
1800,2016-12-23 00:00:00-05:00,44.137684,44.281359,43.994005,44.252625,727700,0.000,0.0,A
1801,2016-12-27 00:00:00-05:00,44.415474,44.693251,44.367582,44.549572,1535500,0.000,0.0,A
1802,2016-12-28 00:00:00-05:00,44.549583,44.731577,43.754570,43.792885,1177300,0.000,0.0,A
1803,2016-12-29 00:00:00-05:00,43.881245,44.188644,43.775576,43.842819,891000,0.132,0.0,A
1804,2016-12-30 00:00:00-05:00,43.958090,44.015729,43.593056,43.765968,1216100,0.000,0.0,A

In [13]:
ticker = yf.Ticker('BOOT')
start_date = datetime(2012, 1, 1)
end_date = datetime(2016, 12, 31)
historical_data = ticker.history(start=start_date, end=end_date, interval='1d')

In [51]:
#MYTE - "'float' object has no attribute 'upper'" 
unique_count1 = df['Symbol'].nunique()
print(unique_count1)

457

In [66]:
stock2 = stock[1001:2000]
stock_symbol2 = stock2["Symbol"]
symbol2 = stock_symbol2.tolist()
symbol2
symbol_test='BOOT'

In [67]:
df_test=pd.DataFrame()

ticker=yf.Ticker(symbol_test)
start_date = datetime(2012, 1, 1)
end_date = datetime(2016, 12, 31)
historical_data = ticker.history(start=start_date, end=end_date, interval='1d')
historical_data['Symbol']=symbol_test
historical_data

,Open,High,Low,Close,Volume,Dividends,Stock Splits,Symbol
Date,,,,,,,,
2014-10-30 00:00:00-04:00,19.000000,19.500000,16.879999,17.450001,6884200,0.0,0.0,BOOT
2014-10-31 00:00:00-04:00,17.790001,18.139999,17.660000,17.750000,429100,0.0,0.0,BOOT
2014-11-03 00:00:00-05:00,17.559999,17.700001,17.500000,17.559999,112000,0.0,0.0,BOOT
2014-11-04 00:00:00-05:00,17.750000,17.750000,17.090000,17.379999,187700,0.0,0.0,BOOT
2014-11-05 00:00:00-05:00,17.139999,17.570000,16.910000,17.040001,361400,0.0,0.0,BOOT
...,...,...,...,...,...,...,...,...
2016-12-23 00:00:00-05:00,12.200000,12.810000,12.200000,12.650000,350100,0.0,0.0,BOOT
2016-12-27 00:00:00-05:00,12.630000,13.030000,12.630000,12.830000,130800,0.0,0.0,BOOT
2016-12-28 00:00:00-05:00,12.910000,13.440000,12.420000,12.570000,273100,0.0,0.0,BOOT
2016-12-29 00:00:00-05:00,12.640000,12.870000,12.480000,12.690000,287400,0.0,0.0,BOOT
2016-12-30 00:00:00-05:00,12.740000,12.760000,12.410000,12.520000,154200,0.0,0.0,BOOT

In [65]:
df2 = pd.DataFrame()

for i in symbol2:
    ticker = yf.Ticker(i)

    # Set the start and end dates for data retrieval
    start_date = datetime(2012, 1, 1)
    end_date = datetime(2016, 12, 31)

    historical_data = ticker.history(start=start_date, end=end_date, interval='1d')

    if historical_data.empty:
        continue

    historical_data['Symbol']=i
    df2 = df.append(historical_data)
    
df2

ERROR BKDT: Data doesn't exist for startDate = 1325394000, endDate = 1483160400
ERROR BKKT: Data doesn't exist for startDate = 1325394000, endDate = 1483160400

,Date,Open,High,Low,Close,Volume,Dividends,Stock Splits,Symbol
0,2012-01-03 00:00:00-05:00,23.208217,23.952900,23.143461,23.622650,4156394,0.0,0.0,A
1,2012-01-04 00:00:00-05:00,23.408962,23.544946,23.046332,23.434862,4651845,0.0,0.0,A
2,2012-01-05 00:00:00-05:00,23.234120,24.166592,23.130512,23.959377,6842651,0.0,0.0,A
3,2012-01-06 00:00:00-05:00,24.017661,24.322010,23.836348,24.218403,4711400,0.0,0.0,A
4,2012-01-09 00:00:00-05:00,24.360863,24.878904,24.263731,24.853003,4429563,0.0,0.0,A
...,...,...,...,...,...,...,...,...,...
2016-12-23 00:00:00-05:00,NaT,37.843437,37.976833,37.541851,37.657845,1176600,0.0,0.0,BKR
2016-12-27 00:00:00-05:00,NaT,37.785442,38.098629,37.657846,38.017433,2224500,0.0,0.0,BKR
2016-12-28 00:00:00-05:00,NaT,38.005827,38.116024,37.327256,37.530247,2255500,0.0,0.0,BKR
2016-12-29 00:00:00-05:00,NaT,37.454864,37.640456,37.124278,37.536060,1461300,0.0,0.0,BKR
2016-12-30 00:00:00-05:00,NaT,37.489660,37.907244,37.460659,37.681053,1872700,0.0,0.0,BKR

In [61]:
df2.to_csv('/Users/hp/SAD_Finance/stock_2.csv',index=False)
unique_count2 = df2['Symbol'].nunique()
print(unique_count2)
df2.head()

458

,index,Date,Open,High,Low,Close,Volume,Dividends,Stock Splits,Symbol
0,0,2012-01-03 00:00:00-05:00,23.208217,23.952900,23.143461,23.622650,4156394,0.0,0.0,A
1,1,2012-01-04 00:00:00-05:00,23.408962,23.544946,23.046332,23.434862,4651845,0.0,0.0,A
2,2,2012-01-05 00:00:00-05:00,23.234120,24.166592,23.130512,23.959377,6842651,0.0,0.0,A
3,3,2012-01-06 00:00:00-05:00,24.017661,24.322010,23.836348,24.218403,4711400,0.0,0.0,A
4,4,2012-01-09 00:00:00-05:00,24.360863,24.878904,24.263731,24.853003,4429563,0.0,0.0,A

In [50]:
stock3 = stock[2001:3000]
stock_symbol3 = stock3["Symbol"]
symbol3 = stock_symbol3.tolist()

df3 = pd.DataFrame()

for i in symbol3:
    ticker = yf.Ticker(i)

    # Set the start and end dates for data retrieval
    start_date = datetime(2012, 1, 1)
    end_date = datetime(2016, 12, 31)

    historical_data = ticker.history(start=start_date, end=end_date, interval='1d')

    if historical_data.empty:
        continue

    historical_data['Symbol']=i
    df3 = df.append(historical_data)
    
df3 = df3.reset_index()
df3
df3.to_csv('/Users/hp/SAD_Finance/stock_3.csv',index=False)

ERROR DECA: Data doesn't exist for startDate = 1325394000, endDate = 1483160400
ERROR DECAU: Data doesn't exist for startDate = 1325394000, endDate = 1483160400
ERROR DEN: Data doesn't exist for startDate = 1325394000, endDate = 1483160400
ERROR DERM: Data doesn't exist for startDate = 1325394000, endDate = 1483160400
ERROR DESP: Data doesn't exist for startDate = 1325394000, endDate = 1483160400
ERROR DFH: Data doesn't exist for startDate = 1325394000, endDate = 1483160400
ERROR DFLI: Data doesn't exist for startDate = 1325394000, endDate = 1483160400
ERROR DFLIW: Period '1mo' is invalid, must be one of ['1d', '5d']
ERROR DGHI: Data doesn't exist for startDate = 1325394000, endDate = 1483160400
ERROR DH: Data doesn't exist for startDate = 1325394000, endDate = 1483160400
ERROR DHCA: Data doesn't exist for startDate = 1325394000, endDate = 1483160400
ERROR DHCAW: Period '1mo' is invalid, must be one of ['1d', '5d']
ERROR DHCNL: Period '1mo' is invalid, must be one of ['1d', '5d']
ERROR DIBS: Data doesn't exist for startDate = 1325394000, endDate = 1483160400
ERROR DICE: Data doesn't exist for startDate = 1325394000, endDate = 1483160400
ERROR DISA: Data doesn't exist for startDate = 1325394000, endDate = 1483160400
ERROR DISAU: Data doesn't exist for startDate = 1325394000, endDate = 1483160400
ERROR DISAW: Period '1mo' is invalid, must be one of ['1d', '5d']
ERROR DIST: Data doesn't exist for startDate = 1325394000, endDate = 1483160400
ERROR DISTR: Period '1mo' is invalid, must be one of ['1d', '5d']
ERROR DKDCA: Data doesn't exist for startDate = 1325394000, endDate = 1483160400
ERROR DKDCW: Period '1mo' is invalid, must be one of ['1d', '5d']
ERROR DKNG: Data doesn't exist for startDate = 1325394000, endDate = 1483160400
ERROR DLNG^A: No timezone found, symbol may be delisted
ERROR DLNG^B: No timezone found, symbol may be delisted
ERROR DLO: Data doesn't exist for startDate = 1325394000, endDate = 1483160400
ERROR DLR^J: No timezone found, symbol may be delisted
ERROR DLR^K: No timezone found, symbol may be delisted
ERROR DLR^L: No timezone found, symbol may be delisted
ERROR DLY: Data doesn't exist for startDate = 1325394000, endDate = 1483160400
ERROR DM: Data doesn't exist for startDate = 1325394000, endDate = 1483160400
ERROR DMA: Data doesn't exist for startDate = 1325394000, endDate = 1483160400
ERROR DMAQ: Data doesn't exist for startDate = 1325394000, endDate = 1483160400
ERROR DMAQR: Period '1mo' is invalid, must be one of ['1d', '5d']
ERROR DMS: Data doesn't exist for startDate = 1325394000, endDate = 1483160400
ERROR DMTK: Data doesn't exist for startDate = 1325394000, endDate = 1483160400
ERROR DMYY: Data doesn't exist for startDate = 1325394000, endDate = 1483160400
ERROR DNA: Data doesn't exist for startDate = 1325394000, endDate = 1483160400
ERROR DNAB: Data doesn't exist for startDate = 1325394000, endDate = 1483160400
ERROR DNAD: Data doesn't exist for startDate = 1325394000, endDate = 1483160400
ERROR DNB: Data doesn't exist for startDate = 1325394000, endDate = 1483160400
ERROR DNLI: Data doesn't exist for startDate = 1325394000, endDate = 1483160400
ERROR DNMR: Data doesn't exist for startDate = 1325394000, endDate = 1483160400
ERROR DNUT: Data doesn't exist for startDate = 1325394000, endDate = 1483160400
ERROR DO: Data doesn't exist for startDate = 1325394000, endDate = 1483160400
ERROR DOCN: Data doesn't exist for startDate = 1325394000, endDate = 1483160400
ERROR DOCS: Data doesn't exist for startDate = 1325394000, endDate = 1483160400
ERROR DOCU: Data doesn't exist for startDate = 1325394000, endDate = 1483160400
ERROR DOGZ: Data doesn't exist for startDate = 1325394000, endDate = 1483160400
ERROR DOLE: Data doesn't exist for startDate = 1325394000, endDate = 1483160400
ERROR DOMA: Data doesn't exist for startDate = 1325394000, endDate = 1483160400
ERROR DOMO: Data doesn't exist for startDate = 1325394000, endDate = 1483160400
ERROR DOUG: Data doesn't exist for startDate = 1325394000, endDate = 1483160400
ERROR DOW: Data doesn't exist for startDate = 1325394000, endDate = 1483160400
ERROR DOYU: Data doesn't exist for startDate = 1325394000, endDate = 1483160400
ERROR DPCSW: Period '1mo' is invalid, must be one of ['1d', '5d']
ERROR DPRO: Data doesn't exist for startDate = 1325394000, endDate = 1483160400
ERROR DPSI: Data doesn't exist for startDate = 1325394000, endDate = 1483160400
ERROR DRCT: Data doesn't exist for startDate = 1325394000, endDate = 1483160400
ERROR DRCTW: Period '1mo' is invalid, must be one of ['1d', '5d']
ERROR DRH^A: No timezone found, symbol may be delisted
ERROR DRMA: Data doesn't exist for startDate = 1325394000, endDate = 1483160400
ERROR DRMAW: Period '1mo' is invalid, must be one of ['1d', '5d']
ERROR DRTS: Data doesn't exist for startDate = 1325394000, endDate = 1483160400
ERROR DRTSW: Period '1mo' is invalid, must be one of ['1d', '5d']
ERROR DRUG: Data doesn't exist for startDate = 1325394000, endDate = 1483160400
ERROR DRVN: Data doesn't exist for startDate = 1325394000, endDate = 1483160400
ERROR DSAQ: Data doesn't exist for startDate = 1325394000, endDate = 1483160400
ERROR DSEY: Data doesn't exist for startDate = 1325394000, endDate = 1483160400
ERROR DSGN: Data doesn't exist for startDate = 1325394000, endDate = 1483160400
ERROR DSP: Data doesn't exist for startDate = 1325394000, endDate = 1483160400
ERROR DSX^B: No timezone found, symbol may be delisted
ERROR DT: Data doesn't exist for startDate = 1325394000, endDate = 1483160400
ERROR DTB: Data doesn't exist for startDate = 1325394000, endDate = 1483160400
ERROR DTC: Data doesn't exist for startDate = 1325394000, endDate = 1483160400
ERROR DTG: Data doesn't exist for startDate = 1325394000, endDate = 1483160400
ERROR DTIL: Data doesn't exist for startDate = 1325394000, endDate = 1483160400
ERROR DTM: Data doesn't exist for startDate = 1325394000, endDate = 1483160400
ERROR DTOC: Data doesn't exist for startDate = 1325394000, endDate = 1483160400
ERROR DTOCU: Data doesn't exist for startDate = 1325394000, endDate = 1483160400
ERROR DTOCW: Period '1mo' is invalid, must be one of ['1d', '5d']
ERROR DTSS: Data doesn't exist for startDate = 1325394000, endDate = 1483160400
ERROR DTW: Data doesn't exist for startDate = 1325394000, endDate = 1483160400
ERROR DUETW: Period '1mo' is invalid, must be one of ['1d', '5d']
ERROR DUK^A: No timezone found, symbol may be delisted
ERROR DUKB: Data doesn't exist for startDate = 1325394000, endDate = 1483160400
ERROR DUNE: Data doesn't exist for startDate = 1325394000, endDate = 1483160400
ERROR DUNEU: Data doesn't exist for startDate = 1325394000, endDate = 1483160400
ERROR DUNEW: Period '1mo' is invalid, must be one of ['1d', '5d']
ERROR DUO: Data doesn't exist for startDate = 1325394000, endDate = 1483160400
ERROR DUOL: Data doesn't exist for startDate = 1325394000, endDate = 1483160400
ERROR DUOT: Data doesn't exist for startDate = 1325394000, endDate = 1483160400
ERROR DV: Data doesn't exist for startDate = 1325394000, endDate = 1483160400
ERROR DWAC: Data doesn't exist for startDate = 1325394000, endDate = 1483160400
ERROR DWACU: Data doesn't exist for startDate = 1325394000, endDate = 1483160400
ERROR DWACW: Period '1mo' is invalid, must be one of ['1d', '5d']
ERROR DX^C: No timezone found, symbol may be delisted
ERROR DYN: Data doesn't exist for startDate = 1325394000, endDate = 1483160400
ERROR EAC: Data doesn't exist for startDate = 1325394000, endDate = 1483160400
ERROR EACPW: Period '1mo' is invalid, must be one of ['1d', '5d']
ERROR EAF: Data doesn't exist for startDate = 1325394000, endDate = 1483160400
ERROR EAR: Data doesn't exist for startDate = 1325394000, endDate = 1483160400
ERROR EAST: Data doesn't exist for startDate = 1325394000, endDate = 1483160400
ERROR EB: Data doesn't exist for startDate = 1325394000, endDate = 1483160400
ERROR EBC: Data doesn't exist for startDate = 1325394000, endDate = 1483160400
ERROR EBET: Data doesn't exist for startDate = 1325394000, endDate = 1483160400
ERROR EBON: Data doesn't exist for startDate = 1325394000, endDate = 1483160400
ERROR ECAT: Data doesn't exist for startDate = 1325394000, endDate = 1483160400
ERROR ECBK: Data doesn't exist for startDate = 1325394000, endDate = 1483160400

ERROR ECC           : No timezone found, symbol may be delisted
ERROR ECC^D: No timezone found, symbol may be delisted
ERROR ECCC: Data doesn't exist for startDate = 1325394000, endDate = 1483160400
ERROR ECCV: Data doesn't exist for startDate = 1325394000, endDate = 1483160400
ERROR ECCW: Data doesn't exist for startDate = 1325394000, endDate = 1483160400
ERROR ECCX: Data doesn't exist for startDate = 1325394000, endDate = 1483160400
ERROR ECF^A: No timezone found, symbol may be delisted
ERROR ECOR: Data doesn't exist for startDate = 1325394000, endDate = 1483160400
ERROR ECVT: Data doesn't exist for startDate = 1325394000, endDate = 1483160400
ERROR ECX: Data doesn't exist for startDate = 1325394000, endDate = 1483160400
ERROR ECXWW: Period '1mo' is invalid, must be one of ['1d', '5d']
ERROR EDBL: Data doesn't exist for startDate = 1325394000, endDate = 1483160400
ERROR EDBLW: Period '1mo' is invalid, must be one of ['1d', '5d']
ERROR EDR: Data doesn't exist for startDate = 1325394000, endDate = 1483160400
ERROR EDRY: Data doesn't exist for startDate = 1325394000, endDate = 1483160400
ERROR EDTK: Data doesn't exist for startDate = 1325394000, endDate = 1483160400
ERROR EDTX: Data doesn't exist for startDate = 1325394000, endDate = 1483160400
ERROR EE: Data doesn't exist for startDate = 1325394000, endDate = 1483160400
ERROR EEIQ: Data doesn't exist for startDate = 1325394000, endDate = 1483160400
ERROR EEX: Data doesn't exist for startDate = 1325394000, endDate = 1483160400
ERROR EFC^A: No timezone found, symbol may be delisted
ERROR EFC^B: No timezone found, symbol may be delisted
ERROR EFC^C: No timezone found, symbol may be delisted
ERROR EFHT: Data doesn't exist for startDate = 1325394000, endDate = 1483160400
ERROR EFHTR: Period '1mo' is invalid, must be one of ['1d', '5d']
ERROR EFHTW: Period '1mo' is invalid, must be one of ['1d', '5d']
ERROR EFSCP: Data doesn't exist for startDate = 1325394000, endDate = 1483160400
ERROR EFSH: Data doesn't exist for startDate = 1325394000, endDate = 1483160400
ERROR EFTR: Data doesn't exist for startDate = 1325394000, endDate = 1483160400
ERROR EFTRW: Period '1mo' is invalid, must be one of ['1d', '5d']
ERROR EGGF: Data doesn't exist for startDate = 1325394000, endDate = 1483160400
ERROR EGLX: Data doesn't exist for startDate = 1325394000, endDate = 1483160400
ERROR EH: Data doesn't exist for startDate = 1325394000, endDate = 1483160400
ERROR EHAB: Data doesn't exist for startDate = 1325394000, endDate = 1483160400
ERROR EIC: Data doesn't exist for startDate = 1325394000, endDate = 1483160400
ERROR EICA: Data doesn't exist for startDate = 1325394000, endDate = 1483160400
ERROR EJH: Data doesn't exist for startDate = 1325394000, endDate = 1483160400
ERROR ELAN: Data doesn't exist for startDate = 1325394000, endDate = 1483160400
ERROR ELBM: Data doesn't exist for startDate = 1325394000, endDate = 1483160400
ERROR ELEV: Data doesn't exist for startDate = 1325394000, endDate = 1483160400
ERROR ELTX: Data doesn't exist for startDate = 1325394000, endDate = 1483160400
ERROR ELVN: Data doesn't exist for startDate = 1325394000, endDate = 1483160400
ERROR ELYM: Data doesn't exist for startDate = 1325394000, endDate = 1483160400
ERROR ELYS: Data doesn't exist for startDate = 1325394000, endDate = 1483160400
ERROR EM: Data doesn't exist for startDate = 1325394000, endDate = 1483160400
ERROR EMBC: Data doesn't exist for startDate = 1325394000, endDate = 1483160400
ERROR EMBK: Data doesn't exist for startDate = 1325394000, endDate = 1483160400
ERROR EMBKW: Period '1mo' is invalid, must be one of ['1d', '5d']
ERROR EMCG: Data doesn't exist for startDate = 1325394000, endDate = 1483160400
ERROR EMCGR: Period '1mo' is invalid, must be one of ['1d', '5d']
ERROR EMCGU: Data doesn't exist for startDate = 1325394000, endDate = 1483160400
ERROR EMCGW: Period '1mo' is invalid, must be one of ['1d', '5d']
ERROR EMLD: Data doesn't exist for startDate = 1325394000, endDate = 1483160400
ERROR EMLDU: Data doesn't exist for startDate = 1325394000, endDate = 1483160400
ERROR EMLDW: Period '1mo' is invalid, must be one of ['1d', '5d']
ERROR ENCPW: Period '1mo' is invalid, must be one of ['1d', '5d']
ERROR ENER: Data doesn't exist for startDate = 1325394000, endDate = 1483160400
ERROR ENERR: Period '1mo' is invalid, must be one of ['1d', '5d']
ERROR ENERW: Period '1mo' is invalid, must be one of ['1d', '5d']
ERROR ENFN: Data doesn't exist for startDate = 1325394000, endDate = 1483160400
ERROR ENLT: Data doesn't exist for startDate = 1325394000, endDate = 1483160400
ERROR ENOB: Data doesn't exist for startDate = 1325394000, endDate = 1483160400
ERROR ENSC: Data doesn't exist for startDate = 1325394000, endDate = 1483160400
ERROR ENTF: Data doesn't exist for startDate = 1325394000, endDate = 1483160400
ERROR ENTFW: Period '1mo' is invalid, must be one of ['1d', '5d']
ERROR ENTX: Data doesn't exist for startDate = 1325394000, endDate = 1483160400
ERROR ENTXW: Period '1mo' is invalid, must be one of ['1d', '5d']
ERROR ENVX: Data doesn't exist for startDate = 1325394000, endDate = 1483160400
ERROR EOCW: Data doesn't exist for startDate = 1325394000, endDate = 1483160400
ERROR EOLS: Data doesn't exist for startDate = 1325394000, endDate = 1483160400
ERROR EOSE: Data doesn't exist for startDate = 1325394000, endDate = 1483160400
ERROR EOSEW: Data doesn't exist for startDate = 1325394000, endDate = 1483160400
ERROR EP^C: No timezone found, symbol may be delisted
ERROR EPOW: Data doesn't exist for startDate = 1325394000, endDate = 1483160400
ERROR EPR^C: No timezone found, symbol may be delisted
ERROR EPR^E: No timezone found, symbol may be delisted
ERROR EPR^G: No timezone found, symbol may be delisted
ERROR EPRT: Data doesn't exist for startDate = 1325394000, endDate = 1483160400
ERROR EQ: Data doesn't exist for startDate = 1325394000, endDate = 1483160400
ERROR EQC^D: No timezone found, symbol may be delisted
ERROR EQH: Data doesn't exist for startDate = 1325394000, endDate = 1483160400
ERROR EQH^A: No timezone found, symbol may be delisted
ERROR EQH^C: No timezone found, symbol may be delisted
ERROR EQRX: Data doesn't exist for startDate = 1325394000, endDate = 1483160400
ERROR EQRXW: Period '1mo' is invalid, must be one of ['1d', '5d']
ERROR EQX: Data doesn't exist for startDate = 1325394000, endDate = 1483160400
ERROR ERAS: Data doesn't exist for startDate = 1325394000, endDate = 1483160400
ERROR ERES: Data doesn't exist for startDate = 1325394000, endDate = 1483160400
ERROR ERESW: Period '1mo' is invalid, must be one of ['1d', '5d']
ERROR ERO: Data doesn't exist for startDate = 1325394000, endDate = 1483160400
ERROR ERYP: Data doesn't exist for startDate = 1325394000, endDate = 1483160400
ERROR ESAB: Data doesn't exist for startDate = 1325394000, endDate = 1483160400
ERROR ESAC: Data doesn't exist for startDate = 1325394000, endDate = 1483160400
ERROR ESACU: Data doesn't exist for startDate = 1325394000, endDate = 1483160400
ERROR ESACW: Period '1mo' is invalid, must be one of ['1d', '5d']
ERROR ESGRO: Data doesn't exist for startDate = 1325394000, endDate = 1483160400
ERROR ESGRP: Data doesn't exist for startDate = 1325394000, endDate = 1483160400
ERROR ESMT: Data doesn't exist for startDate = 1325394000, endDate = 1483160400
ERROR ESQ: Data doesn't exist for startDate = 1325394000, endDate = 1483160400
ERROR ESTA: Data doesn't exist for startDate = 1325394000, endDate = 1483160400
ERROR ESTC: Data doesn't exist for startDate = 1325394000, endDate = 1483160400
ERROR ET^C: No timezone found, symbol may be delisted
ERROR ET^D: No timezone found, symbol may be delisted
ERROR ET^E: No timezone found, symbol may be delisted
ERROR ETAO: Data doesn't exist for startDate = 1325394000, endDate = 1483160400
ERROR ETI^: No timezone found, symbol may be delisted
ERROR ETNB: Data doesn't exist for startDate = 1325394000, endDate = 1483160400
ERROR ETON: Data doesn't exist for startDate = 1325394000, endDate = 1483160400
ERROR ETRN: Data doesn't exist for startDate = 1325394000, endDate = 1483160400
ERROR ETWO: Data doesn't exist for startDate = 1325394000, endDate = 1483160400
ERROR ETX           : No timezone found, symbol may be delisted

ERROR EUDA: Data doesn't exist for startDate = 1325394000, endDate = 1483160400
ERROR EUDAW: Period '1mo' is invalid, must be one of ['1d', '5d']
ERROR EVAX: Data doesn't exist for startDate = 1325394000, endDate = 1483160400
ERROR EVCM: Data doesn't exist for startDate = 1325394000, endDate = 1483160400
ERROR EVE: Data doesn't exist for startDate = 1325394000, endDate = 1483160400
ERROR EVER: Data doesn't exist for startDate = 1325394000, endDate = 1483160400
ERROR EVEX: Data doesn't exist for startDate = 1325394000, endDate = 1483160400
ERROR EVGO: Data doesn't exist for startDate = 1325394000, endDate = 1483160400
ERROR EVGOW: Data doesn't exist for startDate = 1325394000, endDate = 1483160400
ERROR EVGR: Data doesn't exist for startDate = 1325394000, endDate = 1483160400
ERROR EVGRU: Data doesn't exist for startDate = 1325394000, endDate = 1483160400
ERROR EVGRW: Period '1mo' is invalid, must be one of ['1d', '5d']
ERROR EVLO: Data doesn't exist for startDate = 1325394000, endDate = 1483160400
ERROR EVLV: Data doesn't exist for startDate = 1325394000, endDate = 1483160400
ERROR EVLVW: Period '1mo' is invalid, must be one of ['1d', '5d']
ERROR EVTL: Data doesn't exist for startDate = 1325394000, endDate = 1483160400
ERROR EVTV: Data doesn't exist for startDate = 1325394000, endDate = 1483160400
ERROR EWCZ: Data doesn't exist for startDate = 1325394000, endDate = 1483160400
ERROR EWTX: Data doesn't exist for startDate = 1325394000, endDate = 1483160400
ERROR EXAI: Data doesn't exist for startDate = 1325394000, endDate = 1483160400
ERROR EXFY: Data doesn't exist for startDate = 1325394000, endDate = 1483160400
ERROR EXPI: Data doesn't exist for startDate = 1325394000, endDate = 1483160400
ERROR EYE: Data doesn't exist for startDate = 1325394000, endDate = 1483160400
ERROR EYEN: Data doesn't exist for startDate = 1325394000, endDate = 1483160400
ERROR EZFL: Data doesn't exist for startDate = 1325394000, endDate = 1483160400
ERROR EZGO: Data doesn't exist for startDate = 1325394000, endDate = 1483160400
ERROR F^B: No timezone found, symbol may be delisted
ERROR F^C: No timezone found, symbol may be delisted
ERROR F^D: No timezone found, symbol may be delisted
ERROR FA: Data doesn't exist for startDate = 1325394000, endDate = 1483160400
ERROR FACT: Data doesn't exist for startDate = 1325394000, endDate = 1483160400
ERROR FAMI: Data doesn't exist for startDate = 1325394000, endDate = 1483160400
ERROR FAT: Data doesn't exist for startDate = 1325394000, endDate = 1483160400
ERROR FATBB: Data doesn't exist for startDate = 1325394000, endDate = 1483160400
ERROR FATBP: Data doesn't exist for startDate = 1325394000, endDate = 1483160400
ERROR FATBW: Period '1mo' is invalid, must be one of ['1d', '5d']
ERROR FATH: Data doesn't exist for startDate = 1325394000, endDate = 1483160400
ERROR FATP: Data doesn't exist for startDate = 1325394000, endDate = 1483160400
ERROR FATPU: Data doesn't exist for startDate = 1325394000, endDate = 1483160400
ERROR FATPW: Period '1mo' is invalid, must be one of ['1d', '5d']
ERROR FAZE: Data doesn't exist for startDate = 1325394000, endDate = 1483160400
ERROR FAZEW: Period '1mo' is invalid, must be one of ['1d', '5d']
ERROR FBIOP: Data doesn't exist for startDate = 1325394000, endDate = 1483160400
ERROR FBRT: Data doesn't exist for startDate = 1325394000, endDate = 1483160400
ERROR FBRT^E: No timezone found, symbol may be delisted
ERROR FBRX: Data doesn't exist for startDate = 1325394000, endDate = 1483160400
ERROR FCNCO: Data doesn't exist for startDate = 1325394000, endDate = 1483160400
ERROR FCNCP: Data doesn't exist for startDate = 1325394000, endDate = 1483160400
ERROR FCRX: Data doesn't exist for startDate = 1325394000, endDate = 1483160400
ERROR FDMT: Data doesn't exist for startDate = 1325394000, endDate = 1483160400
ERROR FEAM: Data doesn't exist for startDate = 1325394000, endDate = 1483160400
ERROR FEDU: Data doesn't exist for startDate = 1325394000, endDate = 1483160400
ERROR FEI           : No timezone found, symbol may be delisted
ERROR FEMY: Data doesn't exist for startDate = 1325394000, endDate = 1483160400
ERROR FENC: Data doesn't exist for startDate = 1325394000, endDate = 1483160400
ERROR FEXD: Data doesn't exist for startDate = 1325394000, endDate = 1483160400
ERROR FEXDR: Period '1mo' is invalid, must be one of ['1d', '5d']
ERROR FEXDU: Data doesn't exist for startDate = 1325394000, endDate = 1483160400
ERROR FEXDW: Period '1mo' is invalid, must be one of ['1d', '5d']
ERROR FFIE: Data doesn't exist for startDate = 1325394000, endDate = 1483160400
ERROR FFIEW: Period '1mo' is invalid, must be one of ['1d', '5d']
ERROR FG: Data doesn't exist for startDate = 1325394000, endDate = 1483160400
ERROR FGBIP: Data doesn't exist for startDate = 1325394000, endDate = 1483160400
ERROR FGFPP: Data doesn't exist for startDate = 1325394000, endDate = 1483160400
ERROR FGI: Data doesn't exist for startDate = 1325394000, endDate = 1483160400
ERROR FGIWW: Period '1mo' is invalid, must be one of ['1d', '5d']
ERROR FGMC: Data doesn't exist for startDate = 1325394000, endDate = 1483160400
ERROR FGMCW: Period '1mo' is invalid, must be one of ['1d', '5d']
ERROR FHLT: Data doesn't exist for startDate = 1325394000, endDate = 1483160400
ERROR FHLTU: Data doesn't exist for startDate = 1325394000, endDate = 1483160400
ERROR FHLTW: Period '1mo' is invalid, must be one of ['1d', '5d']
ERROR FHN^B: No timezone found, symbol may be delisted
ERROR FHN^C: No timezone found, symbol may be delisted
ERROR FHN^D: No timezone found, symbol may be delisted
ERROR FHN^E: No timezone found, symbol may be delisted
ERROR FHN^F: No timezone found, symbol may be delisted
ERROR FHTX: Data doesn't exist for startDate = 1325394000, endDate = 1483160400
ERROR FIAC: Data doesn't exist for startDate = 1325394000, endDate = 1483160400
ERROR FICV: Data doesn't exist for startDate = 1325394000, endDate = 1483160400
ERROR FICVU: Data doesn't exist for startDate = 1325394000, endDate = 1483160400
ERROR FICVW: Period '1mo' is invalid, must be one of ['1d', '5d']
ERROR FIGS: Data doesn't exist for startDate = 1325394000, endDate = 1483160400
ERROR FINS: Data doesn't exist for startDate = 1325394000, endDate = 1483160400
ERROR FINV: Data doesn't exist for startDate = 1325394000, endDate = 1483160400
ERROR FINW: Data doesn't exist for startDate = 1325394000, endDate = 1483160400
ERROR FIP: Data doesn't exist for startDate = 1325394000, endDate = 1483160400
ERROR FITBO: Data doesn't exist for startDate = 1325394000, endDate = 1483160400
ERROR FITBP: Data doesn't exist for startDate = 1325394000, endDate = 1483160400
ERROR FIXX: Data doesn't exist for startDate = 1325394000, endDate = 1483160400
ERROR FLAG: Data doesn't exist for startDate = 1325394000, endDate = 1483160400
ERROR FLFV: Data doesn't exist for startDate = 1325394000, endDate = 1483160400
ERROR FLFVR: Period '1mo' is invalid, must be one of ['1d', '5d']
ERROR FLGC: Data doesn't exist for startDate = 1325394000, endDate = 1483160400
ERROR FLJ: Data doesn't exist for startDate = 1325394000, endDate = 1483160400
ERROR FLME: Data doesn't exist for startDate = 1325394000, endDate = 1483160400
ERROR FLNC: Data doesn't exist for startDate = 1325394000, endDate = 1483160400
ERROR FLNG: Data doesn't exist for startDate = 1325394000, endDate = 1483160400
ERROR FLUX: Data doesn't exist for startDate = 1325394000, endDate = 1483160400
ERROR FLYW: Data doesn't exist for startDate = 1325394000, endDate = 1483160400
ERROR FMIV: Data doesn't exist for startDate = 1325394000, endDate = 1483160400
ERROR FMIVW: Period '1mo' is invalid, must be one of ['1d', '5d']
ERROR FNA: Data doesn't exist for startDate = 1325394000, endDate = 1483160400
ERROR FNB^E: No timezone found, symbol may be delisted
ERROR FNCH: Data doesn't exist for startDate = 1325394000, endDate = 1483160400
ERROR FND: Data doesn't exist for startDate = 1325394000, endDate = 1483160400
ERROR FNGR: Data doesn't exist for startDate = 1325394000, endDate = 1483160400
ERROR FNKO: Data doesn't exist for startDate = 1325394000, endDate = 1483160400
ERROR FNVT: Data doesn't exist for startDate = 1325394000, endDate = 1483160400
ERROR FNVTU: Data doesn't exist for startDate = 1325394000, endDate = 1483160400

ERROR FNVTW: Period '1mo' is invalid, must be one of ['1d', '5d']
ERROR FOA: Data doesn't exist for startDate = 1325394000, endDate = 1483160400
ERROR FOCS: Data doesn't exist for startDate = 1325394000, endDate = 1483160400
ERROR FORA: Data doesn't exist for startDate = 1325394000, endDate = 1483160400
ERROR FORG: Data doesn't exist for startDate = 1325394000, endDate = 1483160400
ERROR FORL: Data doesn't exist for startDate = 1325394000, endDate = 1483160400
ERROR FORLU: Data doesn't exist for startDate = 1325394000, endDate = 1483160400
ERROR FORLW: Period '1mo' is invalid, must be one of ['1d', '5d']
ERROR FOSLL: Data doesn't exist for startDate = 1325394000, endDate = 1483160400
ERROR FOUR: Data doesn't exist for startDate = 1325394000, endDate = 1483160400
ERROR FOX: Data doesn't exist for startDate = 1325394000, endDate = 1483160400
ERROR FOXA: Data doesn't exist for startDate = 1325394000, endDate = 1483160400
ERROR FOXO: Data doesn't exist for startDate = 1325394000, endDate = 1483160400
ERROR FPH: Data doesn't exist for startDate = 1325394000, endDate = 1483160400
ERROR FRBN: Data doesn't exist for startDate = 1325394000, endDate = 1483160400
ERROR FRBNW: Period '1mo' is invalid, must be one of ['1d', '5d']
ERROR FREE: Data doesn't exist for startDate = 1325394000, endDate = 1483160400
ERROR FREEW: Period '1mo' is invalid, must be one of ['1d', '5d']
ERROR FREQ: Data doesn't exist for startDate = 1325394000, endDate = 1483160400
ERROR FRES: Data doesn't exist for startDate = 1325394000, endDate = 1483160400
ERROR FREY: Data doesn't exist for startDate = 1325394000, endDate = 1483160400
ERROR FRG: Data doesn't exist for startDate = 1325394000, endDate = 1483160400
ERROR FRGAP: Data doesn't exist for startDate = 1325394000, endDate = 1483160400
ERROR FRGE: Data doesn't exist for startDate = 1325394000, endDate = 1483160400
ERROR FRGT: Data doesn't exist for startDate = 1325394000, endDate = 1483160400
ERROR FRHC: Data doesn't exist for startDate = 1325394000, endDate = 1483160400
ERROR FRLA: Data doesn't exist for startDate = 1325394000, endDate = 1483160400
ERROR FRLAU: Data doesn't exist for startDate = 1325394000, endDate = 1483160400
ERROR FRLAW: Data doesn't exist for startDate = 1325394000, endDate = 1483160400
ERROR FRLN: Data doesn't exist for startDate = 1325394000, endDate = 1483160400
ERROR FRMEP: Data doesn't exist for startDate = 1325394000, endDate = 1483160400
ERROR FROG: Data doesn't exist for startDate = 1325394000, endDate = 1483160400
ERROR FRSH: Data doesn't exist for startDate = 1325394000, endDate = 1483160400
ERROR FRSX: Data doesn't exist for startDate = 1325394000, endDate = 1483160400
ERROR FRT^C: No timezone found, symbol may be delisted
ERROR FRXB: Data doesn't exist for startDate = 1325394000, endDate = 1483160400
ERROR FRZA: Data doesn't exist for startDate = 1325394000, endDate = 1483160400
ERROR FSBC: Data doesn't exist for startDate = 1325394000, endDate = 1483160400
ERROR FSCO: Data doesn't exist for startDate = 1325394000, endDate = 1483160400
ERROR FSEA: Data doesn't exist for startDate = 1325394000, endDate = 1483160400
ERROR FSLY: Data doesn't exist for startDate = 1325394000, endDate = 1483160400
ERROR FSNB: Data doesn't exist for startDate = 1325394000, endDate = 1483160400
ERROR FSR: Data doesn't exist for startDate = 1325394000, endDate = 1483160400
ERROR FSRX: Data doesn't exist for startDate = 1325394000, endDate = 1483160400
ERROR FSRXU: Data doesn't exist for startDate = 1325394000, endDate = 1483160400
ERROR FSRXW: Period '1mo' is invalid, must be one of ['1d', '5d']
ERROR FTAIM: Data doesn't exist for startDate = 1325394000, endDate = 1483160400
ERROR FTAIN: Data doesn't exist for startDate = 1325394000, endDate = 1483160400
ERROR FTAIO: Data doesn't exist for startDate = 1325394000, endDate = 1483160400
ERROR FTAIP: Data doesn't exist for startDate = 1325394000, endDate = 1483160400
ERROR FTCH: Data doesn't exist for startDate = 1325394000, endDate = 1483160400
ERROR FTCI: Data doesn't exist for startDate = 1325394000, endDate = 1483160400
ERROR FTDR: Data doesn't exist for startDate = 1325394000, endDate = 1483160400
ERROR FTHM: Data doesn't exist for startDate = 1325394000, endDate = 1483160400
ERROR FTHY: Data doesn't exist for startDate = 1325394000, endDate = 1483160400
ERROR FTII: Data doesn't exist for startDate = 1325394000, endDate = 1483160400
ERROR FTIIU: Data doesn't exist for startDate = 1325394000, endDate = 1483160400
ERROR FTIIW: Period '1mo' is invalid, must be one of ['1d', '5d']
ERROR FUBO: Data doesn't exist for startDate = 1325394000, endDate = 1483160400
ERROR FULC: Data doesn't exist for startDate = 1325394000, endDate = 1483160400
ERROR FULTP: Data doesn't exist for startDate = 1325394000, endDate = 1483160400
ERROR FUSN: Data doesn't exist for startDate = 1325394000, endDate = 1483160400
ERROR FUTU: Data doesn't exist for startDate = 1325394000, endDate = 1483160400
ERROR FUV: Data doesn't exist for startDate = 1325394000, endDate = 1483160400
ERROR FVRR: Data doesn't exist for startDate = 1325394000, endDate = 1483160400
ERROR FWAC: Data doesn't exist for startDate = 1325394000, endDate = 1483160400
ERROR FWRG: Data doesn't exist for startDate = 1325394000, endDate = 1483160400
ERROR FXCO: Data doesn't exist for startDate = 1325394000, endDate = 1483160400
ERROR FXCOW: Period '1mo' is invalid, must be one of ['1d', '5d']
ERROR FXLV: Data doesn't exist for startDate = 1325394000, endDate = 1483160400
ERROR FYBR: Data doesn't exist for startDate = 1325394000, endDate = 1483160400
ERROR FZT: Data doesn't exist for startDate = 1325394000, endDate = 1483160400
ERROR GAB^G: No timezone found, symbol may be delisted
ERROR GAB^H: No timezone found, symbol may be delisted
ERROR GAB^K: No timezone found, symbol may be delisted
ERROR GAINL: Data doesn't exist for startDate = 1325394000, endDate = 1483160400
ERROR GAINN: Data doesn't exist for startDate = 1325394000, endDate = 1483160400
ERROR GAINZ: Data doesn't exist for startDate = 1325394000, endDate = 1483160400
ERROR GAM^B: No timezone found, symbol may be delisted
ERROR GAMB: Data doesn't exist for startDate = 1325394000, endDate = 1483160400
ERROR GAMC: Data doesn't exist for startDate = 1325394000, endDate = 1483160400
ERROR GAMCU: Data doesn't exist for startDate = 1325394000, endDate = 1483160400
ERROR GAMCW: Period '1mo' is invalid, must be one of ['1d', '5d']
ERROR GAME: Data doesn't exist for startDate = 1325394000, endDate = 1483160400
ERROR GAN: Data doesn't exist for startDate = 1325394000, endDate = 1483160400
ERROR GANX: Data doesn't exist for startDate = 1325394000, endDate = 1483160400
ERROR GAQ: Data doesn't exist for startDate = 1325394000, endDate = 1483160400
ERROR GATE: Data doesn't exist for startDate = 1325394000, endDate = 1483160400
ERROR GATEU: Data doesn't exist for startDate = 1325394000, endDate = 1483160400
ERROR GATEW: Data doesn't exist for startDate = 1325394000, endDate = 1483160400
ERROR GATO: Data doesn't exist for startDate = 1325394000, endDate = 1483160400
ERROR GB: Data doesn't exist for startDate = 1325394000, endDate = 1483160400
ERROR GBBK: Data doesn't exist for startDate = 1325394000, endDate = 1483160400
ERROR GBBKR: Period '1mo' is invalid, must be one of ['1d', '5d']
ERROR GBBKW: Period '1mo' is invalid, must be one of ['1d', '5d']
ERROR GBIO: Data doesn't exist for startDate = 1325394000, endDate = 1483160400
ERROR GBNH: Data doesn't exist for startDate = 1325394000, endDate = 1483160400
ERROR GBNY: Data doesn't exist for startDate = 1325394000, endDate = 1483160400
ERROR GBTG: Data doesn't exist for startDate = 1325394000, endDate = 1483160400
ERROR GCMG: Data doesn't exist for startDate = 1325394000, endDate = 1483160400
ERROR GCMGW: Period '1mo' is invalid, must be one of ['1d', '5d']
ERROR GCT: Data doesn't exist for startDate = 1325394000, endDate = 1483160400
ERROR GDEV: Data doesn't exist for startDate = 1325394000, endDate = 1483160400
ERROR GDEVW: Period '1mo' is invalid, must be one of ['1d', '5d']
ERROR GDHG: Data doesn't exist for startDate = 1325394000, endDate = 1483160400
ERROR GDL^C: No timezone found, symbol may be delisted
ERROR GDNR: Data doesn't exist for startDate = 1325394000, endDate = 1483160400

ERROR GDNRW: Period '1mo' is invalid, must be one of ['1d', '5d']
ERROR GDRX: Data doesn't exist for startDate = 1325394000, endDate = 1483160400
ERROR GDST: Data doesn't exist for startDate = 1325394000, endDate = 1483160400
ERROR GDSTR: Period '1mo' is invalid, must be one of ['1d', '5d']
ERROR GDSTW: Period '1mo' is invalid, must be one of ['1d', '5d']
ERROR GDTC: Data doesn't exist for startDate = 1325394000, endDate = 1483160400
ERROR GDV^H: No timezone found, symbol may be delisted
ERROR GDV^K: No timezone found, symbol may be delisted
ERROR GDYN: Data doesn't exist for startDate = 1325394000, endDate = 1483160400
ERROR GECCM: Data doesn't exist for startDate = 1325394000, endDate = 1483160400
ERROR GECCN: Data doesn't exist for startDate = 1325394000, endDate = 1483160400
ERROR GECCO: Data doesn't exist for startDate = 1325394000, endDate = 1483160400
ERROR GEGGL: Data doesn't exist for startDate = 1325394000, endDate = 1483160400
ERROR GEHC: Data doesn't exist for startDate = 1325394000, endDate = 1483160400
ERROR GEHI: Data doesn't exist for startDate = 1325394000, endDate = 1483160400
ERROR GENI: Data doesn't exist for startDate = 1325394000, endDate = 1483160400
ERROR GENQ: Data doesn't exist for startDate = 1325394000, endDate = 1483160400
ERROR GETR: Data doesn't exist for startDate = 1325394000, endDate = 1483160400
ERROR GETY: Data doesn't exist for startDate = 1325394000, endDate = 1483160400
ERROR GFAI: Data doesn't exist for startDate = 1325394000, endDate = 1483160400
ERROR GFAIW: Period '1mo' is invalid, must be one of ['1d', '5d']
ERROR GFGD: Data doesn't exist for startDate = 1325394000, endDate = 1483160400
ERROR GFGDR: Period '1mo' is invalid, must be one of ['1d', '5d']
ERROR GFGDU: Data doesn't exist for startDate = 1325394000, endDate = 1483160400
ERROR GFGDW: Period '1mo' is invalid, must be one of ['1d', '5d']
ERROR GFL: Data doesn't exist for startDate = 1325394000, endDate = 1483160400
ERROR GFOR: Data doesn't exist for startDate = 1325394000, endDate = 1483160400
ERROR GFS: Data doesn't exist for startDate = 1325394000, endDate = 1483160400
ERROR GFX: Data doesn't exist for startDate = 1325394000, endDate = 1483160400
ERROR GGAA: Data doesn't exist for startDate = 1325394000, endDate = 1483160400
ERROR GGAAW: Period '1mo' is invalid, must be one of ['1d', '5d']
ERROR GGN^B: No timezone found, symbol may be delisted
ERROR GGR: Data doesn't exist for startDate = 1325394000, endDate = 1483160400
ERROR GGROW: Period '1mo' is invalid, must be one of ['1d', '5d']
ERROR GGT^E: No timezone found, symbol may be delisted
ERROR GGT^G: No timezone found, symbol may be delisted
ERROR GH: Data doesn't exist for startDate = 1325394000, endDate = 1483160400
ERROR GHG: Data doesn't exist for startDate = 1325394000, endDate = 1483160400
ERROR GHIX: Data doesn't exist for startDate = 1325394000, endDate = 1483160400
ERROR GHIXW: Period '1mo' is invalid, must be one of ['1d', '5d']
ERROR GHLD: Data doesn't exist for startDate = 1325394000, endDate = 1483160400
ERROR GHRS: Data doesn't exist for startDate = 1325394000, endDate = 1483160400
ERROR GHSI: Data doesn't exist for startDate = 1325394000, endDate = 1483160400
ERROR GIA: Data doesn't exist for startDate = 1325394000, endDate = 1483160400

In [57]:
unique_count3 = df3['Symbol'].nunique()
print(unique_count3)
df3

458

,index,Date,Open,High,Low,Close,Volume,Dividends,Stock Splits,Symbol
0,0,2012-01-03 00:00:00-05:00,23.208217,23.952900,23.143461,23.622650,4156394,0.0,0.0,A
1,1,2012-01-04 00:00:00-05:00,23.408962,23.544946,23.046332,23.434862,4651845,0.0,0.0,A
2,2,2012-01-05 00:00:00-05:00,23.234120,24.166592,23.130512,23.959377,6842651,0.0,0.0,A
3,3,2012-01-06 00:00:00-05:00,24.017661,24.322010,23.836348,24.218403,4711400,0.0,0.0,A
4,4,2012-01-09 00:00:00-05:00,24.360863,24.878904,24.263731,24.853003,4429563,0.0,0.0,A
...,...,...,...,...,...,...,...,...,...,...
512949,2016-12-23 00:00:00-05:00,NaT,8.416378,8.433484,8.404973,8.422080,109400,0.0,0.0,GHY
512950,2016-12-27 00:00:00-05:00,NaT,8.467695,8.467695,8.399268,8.416375,146500,0.0,0.0,GHY
512951,2016-12-28 00:00:00-05:00,NaT,8.445080,8.496750,8.445080,8.496750,197000,0.1,0.0,GHY
512952,2016-12-29 00:00:00-05:00,NaT,8.508232,8.531196,8.473786,8.508232,366800,0.0,0.0,GHY
512953,2016-12-30 00:00:00-05:00,NaT,8.536940,8.577128,8.513976,8.548423,275200,0.0,0.0,GHY

In [ ]:
stock4 = stock[3001:4000]
stock_symbol4 = stock4["Symbol"]
symbol4 = stock_symbol4.tolist()

df4 = pd.DataFrame()

for i in symbol4:
    ticker = yf.Ticker(i)

    # Set the start and end dates for data retrieval
    start_date = datetime(2012, 1, 1)
    end_date = datetime(2016, 12, 31)

    historical_data = ticker.history(start=start_date, end=end_date, interval='1d')

    if historical_data.empty:
        continue

    historical_data['Symbol']=i
    df4 = df.append(historical_data)
    
df4 = df4.reset_index()
df4.to_csv('/Users/hp/SAD_Finance/stock_4.csv',index=False)
df4

In [ ]:
unique_count4 = df4['Symbol'].nunique()
print(unique_count4)